@font-face {
    font-family: Inconsolata, monospace;
    src: url("./assets/Inconsolata.otf") format("opentype");
}

body, html {
    height: 100%;
    background-color: #ffffff;
}

.App {
    text-align: center;
    background-color: #ffffff;
    height: 100%;
    min-height: 100%;
    font-family: Inconsolata, monospace;
}

@media screen and (min-width: 450px) {
    .App-header {
        margin: 0 auto;
        margin-left: 150px;
        padding-top: 100px;
        color: #808080;
        max-width: 600px;
        height: 50px;
    }
}

@media screen and (max-width: 450px) {
    .App-header {
        margin: 0 auto;
        margin-left: 70px;
        padding-top: 100px;
        color: #808080;
        max-width: 600px;
        height: 50px;
    }
}

.App-title {
    font-family: Inconsolata, monospace;
    text-align: left;
    font-size: 20px;
    color:darkseagreen;
}

.App-subtitle {
    font-family: Inconsolata, monospace;
    text-align: left;
    font-size: 15px;
    color: rgb(166, 166, 166);
    height: 30px;
}

.Header-Main {
    margin-left: 70px;
    margin-top: auto;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.Header-section {
    font-family: Inconsolata, monospace;
    /*text-decoration: underline;*/
    font-size: 15px;
    padding-bottom: 5px;

    color: white;

    text-decoration-skip: edges;
    text-align: center;
    height: 100%;
}

.Header-section-selected {
    font-family: Inconsolata, monospace;
    /*text-decoration: underline;*/
    font-size: 30px;
    border: solid #808080;
    border-width: 2px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(166, 166, 166);

    text-decoration-skip: edges;
    text-align: center;
}

.Header-sections {
    margin-bottom: 20px;
    width: 100%;
}

.Header-section {
    display: block;
    width: 100%;
    text-align: right;
    color: #808080;
}

.Header-logos-container {
    text-align: left;
    padding-bottom: 10px;
}

.Header-logos {
    text-decoration: none;
}

.Header-logos-img {
    width: 25px;
    margin-right: 4px;
    color: #808080;
    filter: invert(100%);
}

@media screen and (min-width: 450px) {
    .Navigation-Container {
        display: inline;
        float: left;
        width: 130px;
        height: 300px;
    }
}

@media screen and (max-width: 450px) {
    .Navigation-Container {
        display: inline;
        float: left;
        width: 50px;
        height: 300px;
    }
}

.App-intro {
    font-size: large;
}

@media screen and (min-width: 450px) {
    .Section {
        height: 100vh;
        color: #808080;
        margin: 0 auto;
        padding-left: 150px;
        padding-right: 15px;
        /*max-width: 450px;*/
    }
}

@media screen and (max-width: 450px) {
    .Section {
        height: 100vh;
        color: #808080;
        margin: 0 auto;
        margin-left:50px;
        padding-left: 20px;
        padding-right: 15px;
    }
}

.About-img {
    height: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.About-txt {
    text-align: left;
}

.GamesHeader {
    margin-left: -10px;
    font-size: 17px;
    text-align: left;
    color: #418641;
    font-weight: bolder;
    padding:10px;
}

.Grid {
    display: grid;
    flex-wrap: wrap;
    justify-self: left;
    justify-content: left;
    max-width: 600px;
    padding-bottom: 15px;
}

.Grid-Item {
    color: #000;
    align-self: start;
    justify-self: left;
    margin-top: 5px;
    text-decoration: none;
    text-align: left;
}

.Grid-Item > img {
    margin-top: 5px;
    width: 180px;
    min-height: 180px;
}


.Game {

}

.Game-Description {
    text-align: left;
    white-space: pre-line;
}

.Game-Icon {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.Game-Links > * {
    margin: 5px;
}

.modal {
    position: relative;
    background: rgba(177, 177, 177, 0.87);
    top: 25px;
    left: 25%;
    width: 50%;
    padding: 15px;
    border: 2px solid #444;
}

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
}

.Game-Modal {

}

.Game {
    width: 50%;
    color: #808080;
    margin: auto;
}

.Game > * {
    width: 100%;
    margin: auto;
}

.Game-Carousel {
    width: 100%;
    margin: auto;
}
